<app-header></app-header>
<div class="post container">
  <a routerLink="" class="post__back-button">Back to list</a>

  <form [formGroup]="formGroup" class="post__form">
    <div class="post__form__meta">Posted: {{ +post.time * 1000 | date }}</div>
    <div class="post__form__meta">By: {{ post.author }}</div>
    <div>
      <label class="post__form__label" for="location">Location:</label>
      <input
        class="post__form__location"
        type="text"
        formControlName="location"
        id="location"
      />
    </div>
    <div>
      <label class="post__form__label" for="text">Text</label>
      <textarea
        class="post__form__text"
        formControlName="text"
        id="text"
      ></textarea>
    </div>

    <button (click)="savePost()">Save</button>
  </form>
</div>
