/* You can add global styles to this file, and also import other style files */
@import "variables";

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: var(--color-text);
  background-color: var(--color-bg);

  &.darkmode {
    --color-text: #fff;
    --color-text-secondary: #ddd;
    --color-bg: #333;
    --color-bg-hover: #444;
    --color-text-hover: var(--color-text);
  }
}
