/* You can add global styles to this file, and also import other style files */
@import "variables";

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: var(--color-text);
  background-color: var(--color-bg);

  &.darkmode {
    --color-text: #ddd;
    --color-text-secondary: #bbb;
    --color-bg: #333;
    --color-bg-hover: #444;
    --color-text-hover: #fff;
  }
}

button {
  border: 1px solid var(--color-text-secondary);
  border-radius: 1rem;
  padding: 0.6rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: 600;

  &:hover {
    background-color: var(--color-bg-hover);
    border: 1px solid var(--color-text);
  }
}

select {
  padding: 0.6rem;
  border-radius: 1rem;
  border: 1px solid var(--color-text-secondary);
  background-color: var(--color-bg);
  color: var(--color-text);

  &:hover {
    background-color: var(--color-bg-hover);
    border: 1px solid var(--color-text);
  }
}

.container {
  max-width: 64rem;
  margin: auto;
}
